:root{
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #FAD97D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C384F3 100%);
  --pink: #FF919D;
  --glass: rgba(255,255,255,0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 /8%);
  --smboxShadow: -79px 51px 60px rgba(0,0,0,0.08);
  --activeItem: #F799A354;
}

.App{
  color:var(--black);
  background: linear-gradient(
    106deg,
    #d1862a 28.63%,
    #dd8689 51.55%,
    #f3c6f1 90.85%
  );
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter' ,sans-serif;
}

.AppGlass{
  display: grid;
  height:97%;
  width:97%;
  background: var(--glass);
  border-radius: 2rem;
  gap:16px;
  grid-template-columns: 11rem auto 20rem;
  overflow:hidden;
  gap:10px;
}

@media screen and (max-width:1200px) {
  .AppGlass{
    
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
  
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  }
}